---
import aboutImg from "@/assets/AboutMe.png";
import PageLayout from "@/layouts/Base.astro";
import { Image } from "astro:assets";

const meta = {
	title: "post",
};
---

<PageLayout meta={meta}>
	<h1 class="title" style="margin-bottom: 10px;">404 Andamos chambeando en esto.</h1>
</PageLayout>
